// Override default variables before the import
$body-bg: #fff;
$break-small: 768px;
$break-large: 1200px;
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
.cnavbar {
  height: 58px;
}
.brandimg {
  margin-top: 20px;
  height: 80px;
  width: 80px;
  @media screen and (max-width: $break-small) {
    margin-top: 0px;
    height: 30px;
    width: 30px;
  }
}
.padding-0 {
  padding-right: 0;
  padding-left: 0;
  @media screen and (max-width: $break-small) {
    padding-right: 5;
    padding-left: 20px;
  }
}
.padding-right-0 {
  padding-right: 0;
  padding-left: 0;
}
h3,h6 {
  color: #6c757d;
}
.breadcrumb-item a {
  color: purple;
}
.btn-info {
  border-radius: 0;
}

//side nav
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #6c757d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  @media screen and (max-height: 450px) {
    padding-top: 15px;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  @media screen and (max-height: 450px) {
    font-size: 18px;
  }
}

.sidenav a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .closebtn:hover {
  color: #fff;
  background-color: #6c757d;
  border-bottom: none;
}
.menubtn {
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  color: #fff;
  position: fixed;
}
.menubtn:hover {
  color: #fff;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
